$primary-color: #272727;
$secondary-color: #ff652f;

@mixin transition-ease {
    transition: all 0.4s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    } @else {
        @return #eee;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: set-text-color($primary-color);
    text-decoration: none;
}