.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    text-align: center;
    background-image: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.3)
        ),
        url(../img/model-1.jpg);
    background-size: cover;
    background-position: center top;

    &-name {
        font-size: 5rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &__last {
            color: $secondary-color;
            font-weight: bold;
        }
    }
}