@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'projects';
@import 'contact';

body {
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}
h1, h2, h3 {
    font-weight: 400;
}
.text-secondary {
    color: $secondary-color;
}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}
main {
    width: 100%;
    height: 100%;

    .social-icons {
        position: fixed;
        left: 1rem;
        bottom: 1rem;

        a {
            padding: 0.4rem;
            @include transition-ease;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}
footer {
    position: fixed;
    right: 1rem;
    bottom: 0.4rem;
    text-align: right;
    padding: 1rem;
    color: set-text-color($primary-color);
}